<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.you.mapper.FlowerCareMapper">
   <resultMap id="CareResultMap" type="com.you.entity.FlowerCareEntity">
       <id column="id" property="id" />
       <result column="name" property="name" />
       <result column="thumbnail" property="thumbnail" />
       <result column="img" property="img" />
       <result column="content" property="content" />
       <result column="author" property="author" />
       <result column="created_time" property="createdTime" />
       <result column="updated_time" property="updatedTime" />
       <result column="status" property="status" />
   </resultMap>
    
    <insert id="insertCare" parameterType="com.you.entity.FlowerCareEntity">
        INSERT INTO
          flower_care
          (name, thumbnail, img, content, author, created_time, updated_time, status)
        VALUES
          (#{name}, #{thumbnail}, #{img}, #{content}, #{author}, #{createdTime}, #{updatedTime}, #{status})
    </insert>

    <select id="getCare" resultMap="CareResultMap">
        SELECT
        id, name, thumbnail, img, content, author, created_time, updated_time, status
        FROM flower_care
        WHERE status = 1
        limit 1
    </select>

    <select id="getCares" resultMap="CareResultMap">
        SELECT
        id, name, thumbnail, img, content, author, created_time, updated_time, status
        FROM flower_care
        WHERE status = 1
    </select>
</mapper>