<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>列表页</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/care.css" rel="stylesheet">

</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">flower配置中心</h3>
        </div>

        <div>
            <button type="button" class="btn btn-primary" style="margin-left: 90%"
                    data-toggle="modal" data-target="#addCare">新增</button>
        </div>
        <table class="table table-striped" style="margin-top: 20px">
            <tr th:each="care,iterationStatus  : ${cares}">
                <td th:text="${iterationStatus.count}">1</td>
                <td th:text="${care.name}">001</td>
                <td th:text="${care.content}">Name</td>
                <td>
                    <div style="display: inline-block;">
                        <img th:each="img,iterationStatus : ${care.imgList}" th:src="@{${'/img?name=' + img}}"/>
                    </div>
                </td>
            </tr>
        </table>

    </div>

    <div class="modal fade" id="addCare" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增养护说明</h4>
                </div>

                <form action="/care/add" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">鲜花名称</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="玫瑰">
                        </div>
                        <div class="form-group">
                            <label for="content">养护说明</label>
                            <textarea class="form-control" rows="3" id="content" name="content" placeholder="勤换水"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="thumbnailFile">缩略图</label>
                            <input type="file" id="thumbnailFile" accept="image/*">
                            <input type="text" id="thumbnail" name="thumbnail" hidden />
                        </div>
                        <div class="form-group">
                            <label for="imgList">说明图片</label>
                            <input type="file" id="imgFile" accept="image/*" multiple="multiple">
                            <input type="text" id="imgList" name="imgList" hidden/>
                        </div>
                        <div class="form-group">
                            <label for="author">作者</label>
                            <input type="text" class="form-control" name="author" id="author"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script>
        function uploadCareImg(event) {
            var files = event.target.files;
            var formData = new FormData();
            var request = new XMLHttpRequest();
            request.responseType = "json";
            for (var i = 0, len = files.length; i < len; i++) {
                formData.append('file', files[i]);
            }

            request.open('POST', '/upload');
            request.send(formData);

            request.onload = function(event) {
                var result = JSON.parse(request.response);
                var imgUrls = [];
                for(var index in result){
                    imgUrls.push(result[index].url)
                }
                $("#imgList").val(imgUrls);
            }
        }

        document.getElementById("imgFile").addEventListener("change", uploadCareImg, false);

        function uploadThumbnail(event) {
            var file = event.target.files;
            var formData = new FormData();
            var request = new XMLHttpRequest();
            request.responseType = "json";
            for (var i = 0, len = file.length; i < len; i++) {
                formData.append('file', file[i]);
            }

            request.open('POST', '/upload');
            request.send(formData);

            request.onload = function (event) {
                var result = JSON.parse(request.response);
                $("#thumbnail").val(result[0].url);
            }
        }

        document.getElementById("thumbnailFile").addEventListener("change", uploadThumbnail, false);

    </script>
</body>
</html>